/node_modules
/bootstrap/cache
/public/hot
/public/storage
/storage/app
/storage/logs
/storage/framework
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
